.wrap{width: 100%;height: 100%;color: #fff;}
/*头部样式*/
.header{width: 100%;height: 50px;position: absolute;z-index:5;text-align:center;line-height:50px;border-bottom: 2px solid #18426f;box-shadow: 0px 6px 20px #000;}
.headerleft{width: 26%;float: left;text-align: left;}
.titleborder{width: 9.5rem;vertical-align:middle;}
.headercenter{width: 48%;float: left;text-align: center;color: #000;line-height:50px;
	background: radial-gradient(circle farthest-side,#fff -16%,transparent 84%);
	background: -moz-radial-gradient(circle farthest-side,#fff -16%,transparent 84%);  /* Firefox */
    background: -webkit-radial-gradient(circle farthest-side,#fff -16%,transparent 84%); /* Safari Chrome */
    background: -ms-radial-gradient(circle farthest-side,#fff -16%,transparent 84%);    /* IE */
    background: -o-radial-gradient(circle farthest-side,#fff -16%,transparent 84%);     /* Opera*/
	}
.headercenterdiv{height:50px;}
.headerright{width: 26%;float: left;text-align: right;padding-right: 10px;}

/*底部样式*/
.footer{width: 100%;height: 25px;position: absolute;z-index:5;bottom: 0;border-top: 2px solid #18426f;}
.footer span{font-size: 0.6rem}

/*中间样式*/
.containerall{width: 100%;position: absolute;z-index:10;top:60px;bottom: 25px;clear:both;}

/*右内容*/
.contents{width:100%;height:100%;}
.col1{width:24%;height:100%;float: left;margin: 4px 4px 4px 12px;}
.col2{width:48%;height:100%;float: left;margin: 4px;}
.col3{width:24%;height:100%;float: left;margin: 4px;}
.col1row1{width:100%;height:31%;float: left;margin: 4px 0;}
.col1row2{width:100%;height:31%;float: left;margin: 4px 0;}
.col1row3{width:100%;height:31%;float: left;margin: 4px 0;}
.col2row1{width:100%;height:63.2%;float: left;margin: 4px 0;}
.col2row2{width:100%;height:31%;float: left;margin: 4px 0;}
.col2row2col1{width:49%;height:100%;float: left;margin-right: 4px;}
.col2row2col2{width:49%;height:100%;float: left;margin-left: 4px;}
.col3row1{width:100%;height:31%;float: left;margin: 4px 0;}
.col3row2{width:100%;height:31%;float: left;margin: 4px 0;}
.col3row3{width:100%;height:31%;float: left;margin: 4px 0;}

